<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% courses.forEach(function(m) { %>
    <tr>
      <td><%= m.title %></td>
      <td><%= m.location %></td>
      <td><a href="/courses/<%= m._id %>">Details</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
