<%- include('../partials/header') %>

<section id="show-page">
  <div>Name:</div>
  <div><%= student.name %></div>
  <div>Year:</div>
  <div><%= student.year %></div>
  <div>DOB:</div>
  <div><%= student.born.toLocaleDateString() %></div>
  <div>Attendance Point:</div>
  <div><%= student.total_points %></div>
</section>

<%- include('../partials/footer') %>
