<%- include('../partials/header') %>

<section id="show-page">
  <div>Name:</div>
  <div><%= students.name %></div>
  <div>Year:</div>
  <div><%= students.year %></div>
  <div>DOB:</div>
  <div><%= students.born %></div>
  <div>Attendance Point:</div>
  <div><%= students.total_points %></div>
</section>

<%- include('../partials/footer') %>
